*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
google-services.json

# Built application files
*.apk

#progurard
proguard-rules.pro

#fabric
fabric.properties
/doc/book/
/app/.gitignore
/.gitignore
/.idea/
/app/release/
