<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2017 Hiroyuki Tamura
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cks.hiroyuki2.worksupport3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_correct"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:label">

        <!--fabric valueのkeyはリソースファイルなどに切り出すとビルドが通りません-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c1528b3bbc66a9d925a39b9982d20e328e8e509"
            tools:replace="android:value" />

        <!--facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <!--facebook-->

        <!--firebase perf-->
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="true" />

        <activity
            android:name=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.AddFriendActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activities.MainActivity" />
        </activity>

        <service
            android:name=".BackService_"
            android:exported="false" />

        <!--firebase cloud messageing-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_info_white_24dp" />
        <service
            android:name=".FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.EditDocActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".Activities.AddGroupActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activities.MainActivity_" />
        </activity>

        <activity
            android:name=".Activities.SharedDataViewActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activities.MainActivity_" />
        </activity>

        <activity
            android:name=".Activities.SharedCalendarActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".Activities.GroupSettingActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activities.MainActivity_" />
        </activity>

        <activity
            android:name=".Activities.TutorialActivity_"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.HelpActivity_"
            android:parentActivityName=".Activities.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Activities.MainActivity_" />
        </activity>

        <service android:name=".FbIntentService_"/>
    </application>

</manifest>